body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-text: rgba(255, 255, 255, 0.8);
  --btn-bg: rgb(48, 111, 219);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

section {
  width: 100%;
}

table {
  table-layout: fixed;
  width: auto;
  text-align: center;
}

td {
  font-weight: normal;
  padding: 0.5em;
}

th {
  cursor: pointer;
}

/* CONTAINERS */

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-container-tracks-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container-tracks {
  display: flex;
}

.flex-container-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BUTTONS */

.btn-submit {
 border: none;
  background-color: transparent;
 
}

.btn-submit img {
  height: 35px;
  width: 35px;
}

.btn-submit:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}


.btn-search-radio {
  margin-right: 0.5em;
}

.btn-add-track {
  display: inline-block;
  padding: 0.4em;
  margin-left: 0.5em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-add-track:hover {
  border: 1px solid var(--btn-bg);
  cursor: pointer;
}

.btn-add-track:active {
  background-color: var(--btn-bg);
  cursor: pointer;
}

.btn-play {
  display: inline-block;
  padding: 0.4em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-play:hover {
  border: 1px solid var(--btn-bg);
  cursor: pointer;
}

.btn-play:active {
  background-color: var(--btn-bg);
  cursor: pointer;
}

.btn-delete-track {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  margin-right: 1em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-delete-track:hover {
  border: 1px solid var(--btn-bg);
  cursor: pointer;
}

.btn-delete-track:active {
  background-color: var(--btn-bg);
  cursor: pointer;
}

.btn-collapse {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  margin-left: 1em;
  margin-top: 1em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-collapse:hover {
  border: 1px solid var(--btn-bg);
  cursor: pointer;
}

.btn-collapse:active {
  background-color: var(--btn-bg);
  cursor: pointer;
}

.btn-sort {
  display: inline-block;
  padding: 0.2em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
}

.btn-sort:hover {
  border: 1px solid var(--btn-bg);
}

.btn-sort:active {
  background-color: var(--btn-bg);
}

.btn-nav-search {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  display: inline-block;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  border-right: 0;
  cursor: pointer;
}

.btn-nav-search:hover {
  border: 1px solid var(--btn-bg);
}

.btn-nav-search:active {
  background-color: var(--btn-bg);
}

.btn-nav-data {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  display: inline-block;
  padding: 1em;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-nav-data:hover {
  border: 1px solid var(--btn-bg);
}

.btn-nav-data:active {
  background-color: var(--btn-bg);
}

.btn-next {
  display: inline-block;
  padding: 0.2em;
  margin: 0.5em;
  border-radius: 25%;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.btn-next:hover {
  border: 1px solid var(--btn-bg);
  cursor: pointer;
}

.btn-next:active {
  background-color: var(--btn-bg);
  cursor: pointer;
}

/* SEARCHBAR */

.search-label {
  margin-right: 0.5em;
}

.searchbar {
  margin-top: 1em;
  padding: 0.2em;
  font-size: 32px;
  width: 500px;
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background-color: transparent;
}

.searchbar:hover {
  border: 3px solid var(--btn-bg);
}

.searchbar:active {
  border: 1px solid var(--btn-bg);
}

/* PLAYLIST LENGTH */
.custom-radio-list {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.custom-radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px; /* Add spacing between options */
}

.custom-radio-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  transition: border-color 0.3s ease;
}

.custom-radio-option input[type="radio"] {
  display: none;
}

.custom-radio-option input[type="radio"]:checked + .custom-radio-circle {
  border-color: #5b5b9a;
}
.lengthTitle {
  margin-right: 10px;
  font-weight: bold;
  color:#39395e;
}

/* IMAGES CAROUSEL */
.carousel-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.caption-content {
  text-align: center;
  margin-top: 170px;
}

/* FIRST SECTION */

.track-results-header {
  font-weight: normal;
  font-size: 24px;
  margin-top: 0.5em;
  padding-left: 0.2em;
}

.track-results-list {
  padding-left: 0.2em;
  padding-top: 1.3em;
  font-size: 16px;
}

.results-section {
  flex-shrink: 0;
}

.artist-and-title {
  padding: 1em 0 1em 1em;
}

.spinner {
  left: 50%;
}

/* SECOND SECTION */

.meta-info-header {
  font-weight: normal;
  font-size: 24px;
  margin-top: 1em;
  margin-left: 3em;
  margin-bottom: 1em;
}

.meta-info-list {
  margin-left: 2em;
  padding-top: 1.3em;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }

  .searchbar {
    width: 250px;
    font-size: 18px;
    margin-left: 0.5em;
  }

  .search-label {
    font-size: 14px;
  }

  .btn-play {
    margin: 0;
  }

  .btn-add-track {
    margin-left: 0.5em;
  }

  .meta-info-header {
    padding: 0;
    margin: 0;
  }

  .meta-info-list {
    padding: 0;
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: rgba(0, 0, 0, 0.7);
      color: var(--dark-text);
    }

    .searchbar {
      border: 1px solid black;
      background-color: rgba(255, 255, 255, 0.4);
      color: var(--dark-text);
    }

    .searchbar:hover {
      border: 3px solid var(--btn-bg);
    }

    .searchbar:active {
      border: 1px solid var(--btn-bg);
    }

    .btn-add-track {
      display: inline-block;
      padding: 0.2em;
      margin-left: 0.5em;
      border-radius: 25%;
      color: var(--dark-text);
      background-color: var(--btn-bg);
      border: 1px solid black;
      cursor: pointer;
    }

    .btn-add-track:hover {
      border: 1px solid white;
      cursor: pointer;
    }

    .btn-add-track:active {
      background-color: white;
      cursor: pointer;
    }

    .btn-play {
      display: inline-block;
      padding: 0.2em;
      border-radius: 25%;
      color: var(--dark-text);
      background-color: var(--btn-bg);
      border: 1px solid black;
      cursor: pointer;
    }

    .btn-play:hover {
      border: 1px solid white;
      cursor: pointer;
    }

    .btn-play:active {
      background-color: white;
      cursor: pointer;
    }

    .btn-delete-track {
      display: inline-block;
      padding: 0.2em;
      border-radius: 25%;
      margin-right: 1em;
      color: var(--dark-text);
      background-color: var(--btn-bg);
      border: 1px solid black;
      cursor: pointer;
    }

    .btn-delete-track:hover {
      border: 1px solid white;
      cursor: pointer;
    }

    .btn-delete-track:active {
      background-color: white;
      cursor: pointer;
    }

    .btn-nav-search {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 50%;
      display: inline-block;
      padding: 1em;
      color: var(--dark-text);
      background-color: var(--btn-bg);
      border: 1px solid black;
      border-right: 0;
      cursor: pointer;
    }

    .btn-nav-search:hover {
      border: 1px solid white;
    }

    .btn-nav-search:active {
      background-color: white;
    }

    .btn-nav-data {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 50%;
      display: inline-block;
      padding: 1em;
      color: var(--dark-text);
      background-color: var(--btn-bg);
      border: 1px solid black;
      cursor: pointer;
    }

    .btn-nav-data:hover {
      border: 1px solid white;
    }

    .btn-nav-data:active {
      background-color: white;
    }
  }
}

/* CREATE PLAYLIST */
.create-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; 
}

.playlist-btn {
  margin-bottom: 40px; 
  background: #6f6fa0 !important;
  border: #414175 !important;
  
}

.playlist-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}


/* Navbar*/
@media (min-width: 992px) {
  .navbar-toggler {
    display: none; 
  } 

  .navbar-collapse {
    display: flex !important; 
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  span .custom-toggler .navbar-toggler-icon {
    color: blue !important;
  }
  
}
 .navbar {
  background-color: #c1c1f0;
 }

.navbar-nav .nav-link {
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  margin-right: 15px;
}

.nav-brand {
  font-weight: 500;
  font-size: 30px !important;
  color:#414175 !important
}
